div.hdr{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

div.hdr > h2{
    color: black;
    font-size: 1.3vw;
}

div.hdr > div{
    display: flex;
    align-items: center;
    width: 1.8vw;
    aspect-ratio: 1/1;

}

div.hdr > div > button{
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 1.2vw;
    color: white;
    background-color: darkcyan;
    border: 1px solid transparent;
    border-radius: 20%;
    padding: 0;
    transition-duration: 0.2s;
}

div.hdr > div > button:hover{
    background-color: #61dafb;
}